.todo__filterContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 20px;
    align-items: center;
}


.todo__cardsDetail{
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
}

.todo__card{
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    background-color: rgba(242, 242, 242, 0.882);
    padding: 5px 20px;
    border: none;
    margin-left: 30px;
}

.todo__card:hover{
    cursor: pointer;
}

.todo_cardSelected{
    background-color: rgba(119, 197, 233, 0.968);
    color:rgba(0, 9, 42, 0.349);
}

.todo_cardData{
    margin-left: 10px;
}


