.todo{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border: 1px solid grey;
}


.todo_checkTask{
    display: flex;
    flex-direction: row;
}

.todo__progresselect{
    border: none;
    border-radius: 10px;
}

.todo__assign{
    background-color: red;
    color: white
}

.todo__progress{
    background-color: rgb(20, 86, 108);
    color: white;
}

.todo__progressdone{
    background-color: green;
    color: white;
}

.todo_delbtn{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
}


.todo__prioritylow{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
    color: white;
}

.todo__priorityhigh{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    color: white;
}

.todo__prioritymedium{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    color: white;
}



