
.todolist__header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    z-index: 100;
    color: rgb(18, 16, 16);
    background-color: rgb(252, 252, 252);
    padding-left: 20px;
    padding-right: 20px;
   
}

.todolist__formHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #EDEEF0;
    height: 60px;
    align-items: center;
}

.todolist__formHeading{
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
}

.todolist__form{
    display: flex;
    flex-direction: column;
    background-color: transparent;
    width: 100%;
    border-radius: 20px;
}


.todolist__btncontainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    border-top: 1px solid black;
    padding: 10px;
    width: 100%;
    position: absolute;
    bottom: 0px;
}

.todo_notask{
    margin-top: 20vh;
    font-size: 20px;
    text-align: center;
}

.todo__filteraction{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.todo__table{
    padding: 20px;
}

.tag__red{
    background-color: #FFF0E1;
    color: #FF8800;
    border-radius: 20px;
    padding: 2px 10px;
    width: fit-content;
}

.tag__green{
    background-color: #E1FAF0;
    color: #06BC75;
    border-radius: 20px;
    padding: 2px 10px;
    width: fit-content;
}

.tag__blue{
    background-color: #E6E9FA;
    color: #4F68F1;
    border-radius: 20px;
    padding: 2px 10px;
    width: fit-content; 
}