.todo{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    border: 1px solid grey;
}


.todo_checkTask{
    display: flex;
    flex-direction: row;
}

.todo__progresselect{
    border: none;
    border-radius: 100px;
    padding: 2px 5px;
}

.todo__assign{
    background-color:  #cd2c08e8 ;
    color: white;
}

.todo__progress{
    background-color: #318dcba1;
    color: white;
}

.todo__progressdone{
    background-color: #12a412da;
    color: white;
}

.todo_delbtn{
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: 10px;
}


.todo__prioritylow{
    padding: 2px 20px;
    border-radius: 100px;
    width: fit-content;
    background-color: #12a412da;
    color: white;
}

.todo__priorityhigh{
    padding: 2px 20px;
    border-radius: 100px;
    width: fit-content;
    background-color:  #cd2c08e8;
    color: white;
}

.todo__prioritymedium{
    padding: 2px 20px;
    border-radius: 100px;
    width: fit-content;
    background-color: #318dcba1;
    color: white;
}



